/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Layout: Main Navigation
*/

/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body { background: #D3D3D3; }
div.loader { display: none; }
.inner-section { padding: 40px 20px 60px; }


/* --| Used for columns where something is on the left, that makes it too tight */
.padding-left-50 { padding-left: 50px; }
.rtl .padding-left-50 { padding-left: 0; }

/*--| Prevent image from dragging */
img {
	-moz-user-select : -moz-none;
	-khtml-user-select : none;
	-webkit-user-select : none;
	-ms-user-select : none;
	-o-user-select : none;
	user-select : none;
}

/*--| Blockquotes */
blockquote:before, blockquote:after {
	font-size: 2em !important;
	line-height: 0.1;
	position: relative;
	top: 10px;
}

blockquote:before { margin-right: 5px; }
blockquote:after { margin-left: 5px; left: 0; }

/* -----------------------------------------
   Shared Styles: Large Images
----------------------------------------- */
.full-width-image {
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 500px;
	background-position: center center;
	width: 100%;
}

/* -----------------------------------------
   IE8 background-size: cover: polyfill
   	
   <!-- IE8 FULL WIDTH IMAGE -->
  	<div class="ie8-full-image">
    	<img src="images/shared/title.jpg" alt="">
  	</div>
----------------------------------------- */
.ie8-full-image { display: none; }

.lt-ie9 .ie8-full-image {
	display: block;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
}

.lt-ie9 .ie8-full-image img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
}

.lt-ie9 .full-width-image { 
	overflow: hidden; 
	position: relative; 
	background-image: none !important; 
}

/* -----------------------------------------
   Section 1: Title
----------------------------------------- */
#section1 { padding: 0; }

.s1p1.full-width-image { 
	background-image: url(../images/shared/title.jpg);
	min-height: 550px; 
}

.s1p1 h1 {
	font-size: 3em;
	position: relative;
	z-index: 10;
	margin-top: 20%;
	/*display: none;*/
	visibility: hidden;
	opacity: 1;
}

/* IE8 */
.lt-ie9 .s1p1 h1 { visibility: visible; }
.lt-ie9 #section1 * { opacity: inherit; filter: inherit; }

/* -----------------------------------------
   Section 2
----------------------------------------- */
#section2 .inner-section { padding: 75px 15px 75px; }

div.light-bulb { 
	position: relative; 
	max-width: 349px;
	width: 100%;
	margin: 0 auto;
	visibility: hidden;
	opacity: 1;
}

div.light-bulb .propeller {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -64px;
	max-width: 120px;
	width: 100%;
}

div.light-bulb .body { 
	max-width: 222px;
	width: 100%;
	margin: 0 auto;
}

#section2 ul li {
	visibility: hidden;
	opacity: 1;
}

/* IE8 */
.lt-ie9 div.light-bulb,
.lt-ie9 #section2 ul li { visibility: visible; }


/* -----------------------------------------
   Section 3
----------------------------------------- */
#section3 { padding-top: 0; }

.worldchange-container { 
	width: 105%;  
	text-align: center; 
	margin-left: -16px; 
}

.worldchange { 
	display: inline-block; 
	width: 33.3%; 
	margin: -3px;
	visibility: hidden;
	opacity: 1;
}

.worldchange img { 
	width: 100%; 
}

/* IE8 */
/*.lt-ie9 .worldchange { visibility: visible; }*/

/* -----------------------------------------
   Section 4
----------------------------------------- */
.s4p1 div.video-wrapper { visibility: hidden; opacity: 0; }

/* -----------------------------------------
   Section 5
----------------------------------------- */
#section5 { padding-top: 120px; }

.whatis3g-container { 
	text-align: right; 
	margin-right: 15px;
	max-width: 405px;
	width: 100%; 
}

.whatis3g-container .w3gphone { 
	max-width: 243px;
	width: 60%; 
	position: relative;
	z-index: 2;
	left:-10%;
}

.whatis3g-container .speedometer { 
	max-width: 180px;
	width: 40%;
	position: absolute;
	z-index: 1;
	left: 15%;
	top: -22%; 
}

.whatis3g-container > img {
	visibility: hidden;
	opacity: 0;
}

/* IE8 */
.lt-ie9 .whatis3g-container > img { visibility: visible; }

/* -----------------------------------------
   Section 6
----------------------------------------- */
#section6 h1 { 
	color: #222 !important; 
}

/* Circle with arrow inside */
.s6p1 .v-center-block { 
	height: 420px; 
}

/*.pointer-circle {
	width: 150px;
	height: 150px;
	border-radius: 200px;
	border: 3px solid #00acbd;
	margin: 0 auto;
	position: relative;
}*/

.pointer-circle {
	max-width: 150px;
	width: 100%;
	height: 150px;
	border-radius: 200px;
	border: 3px solid #00acbd;
	margin: 0 auto;
	position: relative;
}

.pointer-circle > img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 42px;
	margin-left: -15px;
	margin-top: -28px;
}

.pointer-circle,
.pointer-circle > img {
	visibility: hidden;
	opacity: 1;
}

.phones > img {
	position: relative;
	visibility: hidden;
	opacity: 1;
}

.phones2g-container {
	max-width: 220px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.phones2g-container img.keypad { 
	position: relative;
	margin-top: -150%;
	left: 13%;
	/*top: 10%;
	left: 34%;*/
	z-index: 2; 
	width: 60%;
}

.phones2g-container img.touchscreen {
	position: relative;
	top: 0;
	left: -20%;
	z-index: 1;
	width: 75%;
	margin-bottom: -12px;
}

.phones3g-container {
	max-width: 200px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}


/* Icons */
.icons { position: relative; }

.icons img,
.icons div.plus {
	position: relative;
	top: 0;
	left: 0;
	width: 50px;
	display: inline-block;
	visibility: hidden;
	opacity: 1;
}

.icons div.plus {
	height: 50px;
	position: relative;
	top: 0;
	left: 0;
	line-height: 50px;
	font-size: 50px;
	font-weight: bold;
	color: #474747;
	vertical-align: top;
	text-align: center;
	background-color: #DEDEDE;
}

/* IE8 */
.lt-ie9 .pointer-circle, 
.lt-ie9 .pointer-circle img, 
.lt-ie9 .phones > img,
.lt-ie9 .icons img,
.lt-ie9 .icons div.plus { visibility: visible; }

/* -----------------------------------------
   Section 7
----------------------------------------- */
.s7p1 hr.dashed { margin: 60px 0 80px; border-color: #d5d5d5; }
.phone-desc h2 span:first-child { color: #ebebeb; margin: 0 10px; }
.phone-desc h2 span:first-child + span { color: #00acbd; font-size: 0.8em; visibility: hidden; opacity: 1; }

.psection-phone-img .icons img,
img.psection-phone-img {
	visibility: hidden;
	opacity: 1;
	position: relative;
	left: 0;
	top: 0;
}

/* IE8 */
.lt-ie9 .psection-phone-img .icons img,
.lt-ie9 .phone-desc h2 span:first-child + span,
.lt-ie9 img.psection-phone-img { visibility: visible; }

/* -----------------------------------------
   Section 8
----------------------------------------- */
#section8 { padding-bottom: 100px; }

.devices-container { 
	margin: 0 auto;
	margin-bottom: 60px;
	margin-top: 26%;
	position: relative;
	/*padding-bottom: 100px;*/
	max-width: 600px;
	width: 100%;
}

.devices-container div.phone img {
	max-width: 210px;
	width: 35%;
}

.devices-container div.circle {
	max-width: 560px;
	width: 94%; 
	height: 0;
	padding-bottom: 94%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -47%;
	margin-top: -50%;
}

.devices-container div.circle > div.dashed-circle {
	border-radius: 600px;
	border: 2px dashed white;
	border: 2px dashed rgba(255,255,255, 0.3);
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding-bottom: 100%;
}

.devices-container div.circle > div.dicons { 
	position: absolute; 
	max-width: 100px;
	width: 22%;
}

div.circle .icon-1 { top: -8%; left: 41%;  }
div.circle .icon-2 { top: 8%;  right: 4%;  }
div.circle .icon-3 { top: 44%; right: -8%; }
div.circle .icon-4 { top: 75%; right: 4%;  }
div.circle .icon-5 { top: 90%; left: 41%;  }
div.circle .icon-6 { top: 75%; left: 2%;   }
div.circle .icon-7 { top: 44%; left: -8%;  }
div.circle .icon-8 { top: 9%;  left: 0%;   }

.devices-container div.phone img,
.devices-container div.circle > div  {
	visibility: hidden;
	opacity: 1;
}

/* IE8 */
.lt-ie9 .devices-container div.phone img,
.lt-ie9 .devices-container div.circle > div { visibility: visible; }

.lt-ie9 div.circle .icon-2 { top: 8%; right: 2%;  }
.lt-ie9 .devices-container div.circle > div.dashed-circle {
	border: none;
	padding-bottom: 0;
	background-image: url(../images/ie8/circle.png);
	background-repeat: no-repeat;
	height: 556px;
	width: 556px;
}

/* -----------------------------------------
   Section 9
----------------------------------------- */
#section9 { padding: 0; }
.s9p1 { padding-top: 0; padding-bottom: 0; }

.s9p1.full-width-image { 
	background-image: url(../images/shared/manonbeach.jpg);
	background-position: 20% center;
}

.s9p1 h1 {
	float: right;
	position: relative; 
	margin-top: 12%;
	margin-right: 15%; 
}

/* IE8 */
.lt-ie9 #section9 * { opacity: inherit; filter: inherit; }

/* -----------------------------------------
   Section 10
----------------------------------------- */
.slider { margin-top: 100px; }
.content-slider-wrapper .content-slider-nav { display: none; }
.slider ul li .row .columns { text-align: left; }
.slider ul li .row .columns:first-child { text-align: center; }
.slider ul li .row .columns ul li { list-style-type: disc; }

.slider div.content { 
	margin-left: 60px; 
	padding-left: 20px; 
	border-left: 1px solid #E8E8E8;
	min-height: 210px;
}

.slider div.content:before {
	content: '1';
	display: inline-block;
	height: 60px;
	width: 60px;
	background: #00acbd;
	border-radius: 60px;
	border-right: 1px solid #00acbd;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	line-height: 60px;
	color: white;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -30px;
}

.slider ul li:first-child + li div.content:before { content: '2'; }
.slider ul li:first-child + li + li div.content:before { content: '3'; }
.slider ul li:first-child + li + li + li div.content:before { content: '4'; }
.slider ul li:first-child + li + li + li + li div.content:before { content: '5'; }
.slider ul li:first-child + li + li + li + li + li div.content:before { content: '6'; }


/* -----------------------------------------
   Section 11
----------------------------------------- */
.s11p1 img {
	position: relative;
	z-index: 20;
	margin-top: 60px;
}

div.cool-circles {
	width: 200px;
	height: 200px;
	border-radius: 200px;
	background-color: white;
	padding: 25px 20px 20px;
	display: table;
	position: relative;
	z-index: 10;
	margin: 0 auto;
	z-index: 4;
	visibility: hidden;
	opacity: 1;
}

.s11p1 .three.columns div.cool-circles:first-child { top: -50px; }
.s11p1 .three.columns + .three.columns div.cool-circles:first-child { top: -20px; }
.s11p1 .three.columns + .three.columns + .three.columns div.cool-circles:first-child { top: 0px; }
.s11p1 .three.columns + .three.columns + .three.columns + .three.columns div.cool-circles:first-child { top: 20px; }


div.cool-circles p {
	font-size: 0.84em; 
	font-weight: bold;
	color: #00acbd;
	line-height: 1.3;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

div.dashed-line {
	min-height: 200px;
	border: 1px dashed white;
	width: 1px;
	display: inline-block;
	position: absolute;
	top: 40px;
	left: 50%;
	z-index: 1;
}

div.dashed-line:before {
	content: '';
	height: 10px;
	width: 10px;
	border-radius: 10px;
	background: white;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	z-index: 2;
}

/* IE8 */
/*.lt-ie9 div.cool-circles { visibility: visible; }*/

/* -----------------------------------------
   Section 12
----------------------------------------- */
.s12p1 .three.columns { 
	text-align: right; 
	margin-bottom: 40px;
	padding-right: 60px;
}
.s12p1 img { max-width: 150px; visibility: hidden; opacity: 1; }
.s12p1 h4 { color: #00acbd; }
.s12p1 blockquote { padding-left: 0; padding-top: 0; }
.s12p1 blockquote:before { font-size: 3em; color: #E8E8E8; }
.s12p1 blockquote:after { font-size: 3em; color: #E8E8E8; }

/* IE8 */
.lt-ie9 .s12p1 img { visibility: visible; }

/* -----------------------------------------
   Section 13
----------------------------------------- */
#section13 { padding-top: 0; padding-bottom: 0; }
.s13p1.full-width-image { background-image: url(../images/shared/store.png); }

.s13p1 div.text-content {
	width: 45%;
	position: relative;
	float: right;
	padding: 20px;
	z-index: 10;
}

.s13p1 div.text-content hr { 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";  
	filter: alpha(opacity=10);
	-moz-opacity: 0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2; 
}

.s13p1 div.dots {
	position: absolute;
	height: 100%;
	width: 100%;
}

.s13p1 div.dots img { 
	position: absolute; 
	/*visibility: hidden;
	opacity: 1; */
}

.s13p1 div.dots img:first-child { top: 79%; left: 22%; }
.s13p1 div.dots img:first-child + img { top: 35%; left: 9%; }
.s13p1 div.dots img:first-child + img + img { top: 50%; left: 33%; }

/* IE8 */
.lt-ie9 #section13 .ie8-full-image * { opacity: inherit; filter: inherit; }

/* -----------------------------------------
   Section 14
----------------------------------------- */
.s14p1.row .twelve.columns { padding: 0 15%; }

div.response { margin-bottom: 50px; }
div.response > div { 
	border-radius: 4px; 
	width: 90%; 
	margin: 0 auto; 
	position: relative;
	top: 0;
	left: 0;
	visibility: hidden;
	opacity: 1;
}

div.response > .customer { 
	background-color: white;
	margin: 0 auto;
	margin-bottom: 10px;
	position: relative;
	padding: 25px;
}
div.response > .customer .arrow-top-right { left: -15px; top: 0px; }
div.response > .customer p { 
	color: #00acbd; 
	margin-bottom: 0;
	font-size: 1.13em;
}

div.response > .rsa {
	background-color: #008d95;
	padding: 25px;
	position: relative;
}
div.response > .rsa .arrow-bottom-left { 
	right: -15px; 
	bottom: 0; 
	margin-top: -25px; 
	border-left-color: #008d95; 
	border-bottom-color: #008d95; 
}
div.response > .rsa p { color: white; margin-bottom: 0; }

/* IE8 */
/*.lt-ie9 div.response > div { visibility: visible; }*/

/* -----------------------------------------
   Quiz
----------------------------------------- */
#quiz.slide { padding: 75px 0 !important; background: black; }
a.button.large.chevron.quiz-button { font-size: 2.5em; border: 3px solid #121212; }
.no-touch a.button.large.chevron.quiz-button:hover { background: #121212; }

/* IE8 */
.lt-ie9 a.button.large.chevron.quiz-button:after { content: ''; }

/* -----------------------------------------
   Footnotes
----------------------------------------- */
ul.footnotes { 
	counter-reset: emp-numbers; 
	list-style-type: none; 
	margin-left: 0; 
	display: table;
	border-collapse: collapse;
}

ul.footnotes > li { 
	margin-bottom: 10px;
	display: table-row;
	border-bottom: 10px solid transparent;
	font-size: 0.8em;
}

ul.footnotes > li span {
	font-weight: bold;
	padding-right: 5px;
	display: table-cell;
}

ul.footnotes > li a { 
	color: #20bec6 !important;
	-ms-word-break: break-all;
     word-break: break-all;

    word-break: break-word;

	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	        hyphens: auto; 
}

p.legal-footer { font-size: 0.8em; }

/* ----------------------------------------------------- 
   Desktop
----------------------------------------------------- */
@media only screen and (min-width: 941px) { 

}

/* ----------------------------------------------------- 
   Tablet
----------------------------------------------------- */
@media only screen and (max-width: 940px) and (min-width: 766px) { 
	/*-----------------------------------------
		Section 1
	-----------------------------------------*/
	.s1p1 h1 { margin-top: 40%; }

	/*-----------------------------------------
		Section 6
	-----------------------------------------*/
	.s6p1 .phones2g-container img.keypad { left: 18%; width: 60%; }
	.s6p1 .phones2g-container img.touchscreen { left: -3%; width: 80%; }

	/*-----------------------------------------
		Section 9
	-----------------------------------------*/
	.s9p1 h1 { width: 50%; margin-right: 0; }

	/*-----------------------------------------
		Section 13
	-----------------------------------------*/
	.s13p1 div.text-content { width: 50%; }
	.s13p1 div.dots img:first-child + img { top: 42%; left: -4%; }

}

/* ----------------------------------------------------- 
   Mobile
----------------------------------------------------- */
@media only screen and (max-width: 767px) {
	/*-----------------------------------------
		Shared
	-----------------------------------------*/
	.slide { padding: 30px 0; }
	.inner-section { padding: 10px 20px; }
	h1 { font-size: 1.7em; }
	#quiz a.quiz-button.chevron.large.button.radius.light.white { font-size: 1.8em; }

	/*-----------------------------------------
		Section 1
	-----------------------------------------*/
	#section1 { height: 400px; }
	.s1p1 { padding-bottom: 0; }
	.s1p1 h1 { font-size: 2em; margin-top: 20%; }

	/*-----------------------------------------
		Section 2
	-----------------------------------------*/
	#section2 .inner-section { padding: 40px 0 0; }
	/*div.light-bulb .propeller { left: 30.3%; }*/
	div.light-bulb .body { margin-bottom: 30px; }

	/*-----------------------------------------
		Section 3
	-----------------------------------------*/
	.worldchange-container { width: 110%; }
	.worldchange-container div.worldchange:last-child { display: none; }
	.worldchange-container div.worldchange { width: 50%; }
	div.s3p1.row.inner-section { padding-bottom: 0; }

	/*-----------------------------------------
		Section 4
	-----------------------------------------*/
	#section4 { padding-top: 20px; }

	/*-----------------------------------------
		Section 6
	-----------------------------------------*/
	.s6p1 div.vspacer-75 { padding-top: 30px; }
	.s6p1 .phones { width: 55%; max-width: 220px; float: left; }
	.s6p1 .phones2g-container img.touchscreen { left: -4%; width: 85%; }
	.s6p1 .phones2g-container img.keypad { left: 13%; width: 64%; }
	.s6p1 .icons { text-align: left; }
	.s6p1 .icons img { width: 40px; }
	.s6p1 .icons div.plus { height: 40px; width: 40px; font-size: 40px; line-height: 40px; margin-bottom: 8px; }
	.s6p1 .v-center-block { height: 200px; }

	.pointer-circle { width: 120px; height: 120px; }
	.pointer-circle img { 
		width: 45%; 
		margin-left: -25px;
		margin-top: -10px;
		top: 50%;
	}

	/*-----------------------------------------
		Section 7
	-----------------------------------------*/
	.phone1g-feat img.psection-phone-img,
	.phone2g-feat img.psection-phone-img { max-width: 120px; width: 100%; }

	.phone3g-feat img.psection-phone-img,
	.phone4g-feat img.psection-phone-img { max-width: 155px; width: 100%; }

	.s7p1 hr.dashed { margin: 30px 0 50px; }
	.phone-desc div.icons { text-align: center; margin-top: 20px; }
	.phone-desc div.icons img { width: 40px; }

	/*-----------------------------------------
		Section 8
	-----------------------------------------*/
	div.circle .icon-1 { top: -8%; left: 39.5%;	 }
	.devices-container {  margin-top: 135px; margin-bottom: 0; }

	/*-----------------------------------------
		Section 9
	-----------------------------------------*/
	.s9p1 { padding-bottom: 60px; padding-top: 0; }
	.s9p1.full-width-image { background-image: none; }
	.s9p1 .mobile-img { 
		width: 100%; 
		min-width: 940px; 
		margin-left: -100px; 
		position: relative; 
		height: 360px;
		overflow: hidden;
	}
	.s9p1 .mobile-img .arrow-up { 
		top: 100%; 
		left: 11%;
		margin-top: -12px; 
	 	border-bottom-color: #ececec; 
	 }
	.s9p1 h1 { text-align: center; margin-right: 0; width: 100%; }

	/*-----------------------------------------
		Section 10
	-----------------------------------------*/
	.slider { margin-top: 50px; }
	.slider div.content {
		border-left: none;
		border-top: 1px solid #E8E8E8;
		padding-left: 0;
		margin-left: 0;
		margin-top: 50px;
		padding-top: 20px;
	}

	.slider div.content:before {
		top: 20px;
		left: 50%;
		margin-top: 0;
		margin-left: -35px;
	}

	.slider > ul li img { width: 45%; }

	/*-----------------------------------------
		Section 11
	-----------------------------------------*/
	#section11 .s11p1 .three.columns div.cool-circles { top: 0px; }
	.s11p1 .three.columns { margin-top: 60px; }
	.s11p1 .three.columns:first-child { margin-top: 0px; }
	.s11p1 img { width: 60%; }

	/* -----------------------------------------
	   Section 12
	----------------------------------------- */
	.s12p1 { text-align: center; }
	.s12p1 .three.columns { 
		text-align: center;
		margin-bottom: 0; 
		margin-top: 40px;
		padding-right: 0px;
		padding: 0;
	}
	.s12p1 .upgrades .three.columns:first-child { margin-top: 0; }


	/* -----------------------------------------
	   Section 13
	----------------------------------------- */
	.s13p1 { padding-top: 0; }
	.s13p1.full-width-image { background-image: none; }
	.s13p1 div.text-content { width: 100%; padding: 25px 0 0 0; float: none; }
	.s13p1 .mobile-img { 
		width: 100%; 
		min-width: 940px; 
		margin-left: -100px; 
		position: relative; 
		overflow: hidden;
		height: 280px;
	}

	.s13p1 div.dots { top: 0; left: 0; }
	.s13p1 div.dots img:first-child { display: none; }
	.s13p1 div.dots img:first-child + img { top: 14%; left: 8%; }
	.s13p1 div.dots img:first-child + img + img { top: 27%; left: 50%; }

	/* -----------------------------------------
	   Section 14
	----------------------------------------- */
	.s14p1.row .twelve.columns { padding: 0 15px; }

}


/* -----------------------------------------
	Internet Explorer 8
----------------------------------------- */


