/* -------------------------------------------------- 
   Table of Contents - SNAPDRAGON Styles
-----------------------------------------------------
:: Shared Styles
*/

/* -----------------------------------------
   Shared Styles
----------------------------------------- */
.fire 	{ color: #ee3124 !important; }
.sun 	{ color: #FFd457 !important ; }
.stone 	{ color: #636466 !important; }
.ocean 	{ color: #20BEC6 !important; }

/* -----------------------------------------
   Backgrounds
----------------------------------------- */
.qualcomm-gradient.snapdragon-radial-fire {
	background: #ee3124; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMSUiIHN0b3AtY29sb3I9IiNkNjRiM2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjOTQxYTFkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  #d64b3a 1%, #941a1d 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#d64b3a), color-stop(100%,#941a1d)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #d64b3a 1%,#941a1d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #d64b3a 1%,#941a1d 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #d64b3a 1%,#941a1d 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #d64b3a 1%,#941a1d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d64b3a', endColorstr='#941a1d',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.qualcomm-gradient.snapdragon-radial-stone {
	background: #636466; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM4Mjg0ODYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDU0NTQ4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  #828486 0%, #454548 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#828486), color-stop(100%,#454548)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #828486 0%,#454548 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #828486 0%,#454548 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #828486 0%,#454548 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #828486 0%,#454548 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828486', endColorstr='#454548',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.qualcomm-gradient.snapdragon-radial-sun {
	background: #FFd457; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmU1NjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjZhZTNmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  #ffe563 0%, #f6ae3f 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffe563), color-stop(100%,#f6ae3f)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #ffe563 0%,#f6ae3f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #ffe563 0%,#f6ae3f 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #ffe563 0%,#f6ae3f 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #ffe563 0%,#f6ae3f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe563', endColorstr='#f6ae3f',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.qualcomm-gradient.snapdragon-radial-ocean {
	background: #20BEC6; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM2MmM5ZGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDFhZGM1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  #62c9dc 0%, #01adc5 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#62c9dc), color-stop(100%,#01adc5)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #62c9dc 0%,#01adc5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #62c9dc 0%,#01adc5 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #62c9dc 0%,#01adc5 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #62c9dc 0%,#01adc5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62c9dc', endColorstr='#01adc5',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.qualcomm-background.cloud { background-color: #fffff8; }

/* -----------------------------------------
   Typography
----------------------------------------- */
h1,h2,h3,h4,h5,h6 { font-family: Arial, sans-serif; }
h1,h2,h3 { text-transform: uppercase; }

h1.qualcomm-header { font-weight: bolder; }

h1.subheader,
h2.subheader,
h3.subheader,
h4.subheader,
h5.subheader,
h6.subheader { font-family: Arial, sans-serif; }

h1.lower,
h2.lower,
h3.lower,
h4.lower, 
h5.lower,
h6.lower { text-transform: none; }

/* --| Exclude these from the Snapdragon Styling */
.top-bar h1 { font-family: 'qualcomm_office_regular', Arial, sans-serif; text-transform: none; }

.quiz h1,
.quiz h2,
.quiz h3 { text-transform: none; }

/* --| Background Colors */
.qualcomm-gradient.snapdragon-radial-sun h1,
.qualcomm-gradient.snapdragon-radial-sun h2,
.qualcomm-gradient.snapdragon-radial-sun h3,
.qualcomm-gradient.snapdragon-radial-sun h4,
.qualcomm-gradient.snapdragon-radial-sun h5,
.qualcomm-gradient.snapdragon-radial-sun h6,
.qualcomm-gradient.snapdragon-radial-sun p,
.qualcomm-gradient.snapdragon-radial-sun ul li,
.qualcomm-gradient.snapdragon-radial-sun ol li,
.qualcomm-gradient.snapdragon-radial-sun dl dd,
.qualcomm-gradient.snapdragon-radial-sun dl dt { color: #222; }


/* -----------------------------------------
   Horizontal Rules
----------------------------------------- */
hr {
	margin: 50px 0;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(246,246,238,0), rgba(246,246,238,.4), rgba(246,246,238,0)); 
    background-image:    -moz-linear-gradient(left, rgba(246,246,238,0), rgba(246,246,238,.4), rgba(246,246,238,0)); 
    background-image:     -ms-linear-gradient(left, rgba(246,246,238,0), rgba(246,246,238,.4), rgba(246,246,238,0)); 
    background-image:      -o-linear-gradient(left, rgba(246,246,238,0), rgba(246,246,238,.4), rgba(246,246,238,0)); 
}

hr.dark {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(99,99,99,0), rgba(99,99,99,0.3), rgba(99,99,99,0)); 
    background-image:    -moz-linear-gradient(left, rgba(99,99,99,0), rgba(99,99,99,0.3), rgba(99,99,99,0)); 
    background-image:     -ms-linear-gradient(left, rgba(99,99,99,0), rgba(99,99,99,0.3), rgba(99,99,99,0)); 
    background-image:      -o-linear-gradient(left, rgba(99,99,99,0), rgba(99,99,99,0.3), rgba(99,99,99,0)); 
}

hr.plain {
	background-image: none;
	border-color: white;
	border-top-width: 1px;
	border-style: solid;
}

hr.plain.dark {
	border-color: #474747;
}

.lt-ie9 hr {
	border: 1px;
	height: 1px;
	border-color: white;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)"; filter: alpha(opacity=15); 
	border-style: dashed;
}

.lt-ie9 hr.dark { border-color: #474747; }


/* ----------------------------------------------------- 
   Mobile
----------------------------------------------------- */
@media only screen and (max-width: 767px) { 
}

/* ----------------------------------------------------- 
   Horizontal Slider
----------------------------------------------------- */
/*.next-arrow {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.prev-arrow {
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}*/
















