/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Layout: Main Navigation
*/

/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body { background-color: black; color: white; }

/* --| Used for columns where something is on the left, that makes it too tight */
.padding-left-50 { padding-left: 50px; }
.rtl .padding-left-50 { padding-left: 0; }

/*--| Prevent image from dragging */
img {
	-moz-user-select : -moz-none;
	-khtml-user-select : none;
	-webkit-user-select : none;
	-ms-user-select : none;
	-o-user-select : none;
	user-select : none;
}

/* -----------------------------------------
   Shared Styles: Large Images
----------------------------------------- */
.full-width-image {
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 500px;
	background-position: center center;
	width: 100%;
}

/* -----------------------------------------
   Shared Styles: Chevron List
----------------------------------------- */
ul.chevron { list-style: none; }
ul.chevron > li { position: relative; margin-bottom: 10px; }
ul.chevron > li:before {
	content: "\E002";
	font-family: 'custom-icons';
	font-size: .7em;
	position: absolute;
	top: 4px;
	left: -20px;
}

ul.chevron.black > li:before { color: black; }
ul.chevron.red > li:before { color: #ed2224; }

/* -----------------------------------------
   Section 1: Mobile Engines 
----------------------------------------- */
div.continue-arrow {
	background: #d52122;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	margin-bottom: -25px;
}

div.continue-arrow:before {
	content: "\E004";
	display: block;
	color: white;
	font-family: 'custom-icons';
	font-weight: bold;
	font-size: 1.25em;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -12px;
	margin-left: -10px;
}

/* -----------------------------------------
   Section 1: Arrow Animation 
----------------------------------------- */
div.continue-arrow:before { 
  -webkit-animation: arrow-v 1s linear infinite; 
  -moz-animation: arrow-v 1s linear infinite; 
  -o-animation: arrow-v 1s linear infinite; 
  animation: arrow-v 1s linear infinite; 
}

@-webkit-keyframes arrow-v { from { top: 50%; } 50% { top: 65%; } to { top: 50%; } }
@-moz-keyframes arrow-v { from { top: 50%; } 50% { top: 65%; } to { top: 50%; } }
@-o-keyframes arrow-v { from { top: 50%; } 50% { top: 65%; } to { top: 50%; } }
@keyframes arrow-v { from { top: 50%; } 50% { top: 65%; } to { top: 50%; } }

/* -----------------------------------------
   Section 2: By the end of this module 
----------------------------------------- */
.speech-bubbles-container { position: relative; }
img.speech-bubbles { position: relative; float: left; visibility: hidden; opacity: 1; }

img.speech-bubbles.cust1 { width: 40%; z-index: 2; left: 48%; margin-top: 7%; } 	/* O-Left: 48%; / O-Margin:7%   */
img.speech-bubbles.cust2 { width: 30%; z-index: 1; left: 25%; margin-top: 38%; } 	/* O-Left: 28%; / O-Margin:38%  */
img.speech-bubbles.rsa 	 { width: 55%; z-index: 3; left: 1%; margin-top: -38%; } 	/* O-Left: 1%;  / O-Margin:-38% */

/* -----------------------------------------
   Section 4: Technologies Abound 
----------------------------------------- */
.s4p1 .twelve.columns { position: relative; min-height: 600px; }

/*--| Icons */
.icons-container { width: 100%; position: relative; }

.icons { 
	width: 25%; 
	display: inline-block; 
	margin: 0 10px 25px;
	position: relative;
	top: 0;
	left: 0;
}

.icons img { margin: 0 auto; }

/*--| Technologies */
.tech-container { width: 100%; position: relative; min-height: 0px; margin-bottom: 100px; }
.tech {
	background: white;
	/*border: 5px solid purple;*/
	border-radius: 500px;
	-moz-border-radius: 500px;
	-webkit-border-radius: 500px;
	width: 120px;
	height: 120px;
	text-align: center;
	position: relative;
	display: table;
	/*display: none;*/
	visibility: hidden; 
	opacity: 1;
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden; /* Chrome and Safari */
	-moz-backface-visibility:hidden; /* Firefox */
	-ms-backface-visibility:hidden; /* Internet Explorer */
}

/*--| Images are 70x70 */
.tech > img {
	vertical-align: middle;
	text-align: center;
	top: 50%;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	margin-top: -35px;
	z-index: 3;
}

.tech > p { position: relative; top: 125px; z-index: 1; visibility: hidden; opacity: 1; }
.tech > img { width: 70px; height: 70px; }

/*.tech.battery { top: 0; left: 50%; margin-left: -140px; }
.tech.connect { top: -120px; left: 50%; margin-left: 20px; } 
.tech.speed   { top: -60px; left: 50%; margin-left: -60px; }*/

.tech.battery { top: 0; left: 50%; margin-left: -140px; }
.tech.connect { margin-top: -120px; left: 50%; margin-left: 20px; } 
.tech.speed   { margin-top: 50px; left: 50%; margin-left: -60px; }

/*--| IE8 */
.tech > img.ie8-tech-circle { display: none; width: 120px; height: 120px; margin-top: -60px; margin-left: -60px; z-index: 2; }
.lt-ie9 .tech { background: none; }
.lt-ie9 .tech > img.ie8-tech-circle { display: block; }

/*--| Phone Image */
.tech-phone { margin: 0 auto; position: relative; margin-bottom: -65px; /*width: 70%;*/ visibility: hidden; opacity: 1; }
.tech-phone > img { width: 100%; /*height: 100%;*/ }

/* -----------------------------------------
   Section 6: Leadership 
----------------------------------------- */
/*--| Box --*/
div.square-box {
	background: #222;
	color: white !important;
	/*max-width: 200px;*/
	width: 200px;
	height: 200px;
	/*position: relative;*/
	margin: 0 auto;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	display: table;
	position: relative;
	z-index: 3;
}

div.square-box:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-top: 12px solid #222;
	border-bottom: 12px solid transparent;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -12px;
}

div.square-box > h1.subheader { 
	color: white !important; 
	font-size: 5em; 
	text-align: center;
	/*position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -0.55em;
	margin-left: -0.5em;*/
	visibility: hidden;
	opacity: 1;
	display: table-cell;
	vertical-align: middle;
}

/*--| Circles */
.circle-container { 
	position: relative; 
	height: 400px; 
	width: 100%; 
}

.circles { 
	text-align: center; 
	width: 120px;
	height: 120px;
	border-radius: 500px;
	-moz-border-radius: 500px;
	-webkit-border-radius: 500px;
	border: 5px solid #cccccc;
	position: relative;
	display: table;
	visibility: hidden;
	opacity: 1;
}

.circles > p { 
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	line-height: 1.0;
	z-index: 1;
	position: relative;
}

.circles p > span { font-weight: bold; }

/*--| Circles: Specific */
.circles.download { top: 0; left: 50%; margin-left: -130px; }
.circles.dsp 	  { top: -120px; left: 50%; margin-left: 10px; }
.circles.battery  { top: -120px; left: 50%; margin-left: -60px; }
.circles.cpu 	  { top: -120px; left: 50%; margin-left: -130px; }
.circles.gpu 	  { top: -240px; left: 50%; margin-left: 10px; }

/*-- IE8 */
.circles img.ie8-feature-circle { display: none; position: absolute; top: 0; left: 0; z-index: 0; }
.lt-ie9 img.ie8-feature-circle { display: block; }
.lt-ie9 .circles { border: 0; }
.lt-ie9 .qualcomm-background.cloud div.square-box > h1.subheader { color: white !important; }

/* -----------------------------------------
   Section 7: Snapdragon Processor Family
----------------------------------------- */
.chip-container { width: 100%; position: relative; /*margin-top: 50px;*/ }
.chips { position: relative; float: left; visibility: hidden; opacity: 1; }
.chips > img { width: 100%; /*height: 100%;*/ }

.chip-200 { width: 30%; z-index: 1; right:  0%;  margin-top:  7%; }
.chip-400 { width: 35%; z-index: 2; right:  17%; margin-top:  9%; }
.chip-600 { width: 45%; z-index: 3; right: -29%; margin-top: -31%; }
.chip-800 { width: 50%; z-index: 4; right: -4%;  margin-top: -28%; } 

/* -----------------------------------------
   Section 8,9,10,11: Shared Styles
----------------------------------------- */
/*--| Red Background (Stone) */
.section8 .panel.sales-tip *,
.section10 .panel.sales-tip * { color: #222 !important; }

/*--| Dark Background (Stone) */
.section9 ul.chevron li,
.section11 ul.chevron li { color: white; }

/*--| Chip */
img.chip-image { width: 75%; margin-bottom: 20px; }

/*--| Features: Main Image (Specs) */
div.spec-main-img { position: relative; }
img.spec-image { width: 400px; margin-bottom: 35px; }
img.spec-chip-img { 
	position: absolute;
	top: 30%;
	width: 36%;
	left: 50%;
	margin-left: -18%;
	visibility: hidden;
	opacity: 1;
}

/*--| Features: List & Icons */
.specs-container { margin-top: 20px; }
.spec { display: table; margin-bottom: 12px; }
.spec > p { display: table-cell; vertical-align: middle; text-align: left; padding-left: 15px; font-size: 1.1em; }

.spec div.icon { 
	display: block; 
	vertical-align: middle; 
	width: 60px; 
	height: 60px; 
	background-image: url(../images/shared/section1/spec-icons.png);
	background-size: 60px;
	text-align: left;
	background-repeat: no-repeat;
	line-height: 60px;
}

.section9 .spec div.icon,
.section11 .spec div.icon { background-image: url(../images/shared/section1/spec-icons-dark.png); }

.spec.camera div.icon  	{ background-position: 0 -60px;  }
.spec.audio div.icon 	{ background-position: 0 -120px; }
.spec.cpu div.icon 	 	{ background-position: 0 -180px; }
.spec.gpu div.icon 	 	{ background-position: 0 -240px; }
.spec.network div.icon  { background-position: 0 -300px; }


/*--| Customers */
div.cust-main-img { position: relative; }
img.cust-image { width: 90%; margin-bottom: 25px; }
img.cust-floating-icon { width: 17%; position: absolute; }
img.cust-chip-img { 
	position: absolute; 
	width: 18%; 
	top: 70%; 
	left: 50%; 
	margin-left: -9%; 
	visibility: hidden; 
	opacity: 1;
}

/*--| Section 8: 200 - Floating Icons */
.section8 img.cust-floating-icon.phone { left: 26%; top: 12%; }
.section8 img.cust-floating-icon.chat  { left: 56%; top: 12%; } 

/*--| Section 9: Floating Icons */
.section9 img.cust-floating-icon.camera { left: 41%; top: 9%; }
.section9 img.cust-floating-icon.phone  { left: 17%; top: 24%; }
.section9 img.cust-floating-icon.chat   { left: 67%; top: 24%; } 

/*--| Section 10: Floating Icons */
.section10 img.cust-floating-icon.play   { left: 27%; top: 12%; }
.section10 img.cust-floating-icon.camera { left: 56%; top: 11%; }
.section10 img.cust-floating-icon.phone  { left: 15%; top: 31%; }
.section10 img.cust-floating-icon.chat   { left: 69%; top: 31%; } 

/*--| Section 10: Floating Icons */
.section11 img.cust-floating-icon.controller { left: 42%; top: 7%;  }
.section11 img.cust-floating-icon.play   	 { left: 18%; top: 21%; }
.section11 img.cust-floating-icon.camera 	 { left: 66%; top: 20%; }
.section11 img.cust-floating-icon.phone  	 { left: 13%; top: 40%; }
.section11 img.cust-floating-icon.chat   	 { left: 70%; top: 41%; }

/*--| Specs Footnotes */
p.spec-footnote {
	margin-bottom: 0;
	padding: 5px 10px 8px;
	background: rgb(189, 17, 17);
	display: inline-block;
	border-radius: 3px;
	font-size: .85em;
	font-style: italic;
}

.section9 p.spec-footnote,
.section11 p.spec-footnote { background: #1F1F1F; }

/*--| IE8 */
.lt-ie9 img.chip-image { width: 60%; }
.lt-ie9 img.spec-chip-img { width: 16%; margin-left: -8%; }
/*.lt-ie9 img.cust-chip-img { width: 8%; margin-left: -4%; }*/
.lt-ie9 div.cust-main-img { width: 50%; margin: 0 auto; }
.lt-ie9 .spec div.icon { background-image: none; }
.lt-ie9 .spec div.icon { background-image: url(../images/ie8/spec-icons.png); }
.lt-ie9 .section9 .spec div.icon,
.lt-ie9 .section11 .spec div.icon { background-image: url(../images/ie8/spec-icons-dark.png); }


/* -----------------------------------------
   Quiz
----------------------------------------- */
.quiz.slide { padding: 75px 0; background: black; }
a.button.large.chevron.quiz-button { font-size: 2.5em; border: 3px solid #121212; }
.no-touch a.button.large.chevron.quiz-button:hover { background: #121212; }

/* -----------------------------------------
   Footnotes
----------------------------------------- */
ol.footnotes { 
	counter-reset: emp-numbers; 
	list-style-type: none; 
	margin-left: 0; 
	display: table;
	border-collapse: collapse;
}

ol.footnotes > li { 
	margin-bottom: 10px;
	display: table-row;
	border-bottom: 10px solid transparent;
}

ol.footnotes > li:before { 
	content: counter(emp-numbers) ". "; 
	counter-increment: emp-numbers;
	font-weight: bold;
	display: table-cell;
	text-align: right;
	padding-right: 5px;
}

ol.footnotes > li a { 
	color: #20bec6 !important;
	-ms-word-break: break-all;
     word-break: break-all;

    word-break: break-word;

	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	        hyphens: auto; 
}

/*--| IE8 */
.lt-ie9 .qualcomm-background.cloud ol.footnotes > li a { color: #20bec6 !important; }

/* ----------------------------------------------------- 
   Desktop
----------------------------------------------------- */
@media only screen and (min-width: 941px) { 
	/* -----------------------------------------
   		Section 1: Mobile Engines 
	----------------------------------------- */
	div.continue-arrow { margin-bottom: -100px; }

	/* -----------------------------------------
   	   Section 4: Technologies Abound 
	----------------------------------------- */
	/*.tech-container { min-height: 525px; }*/
	.tech-phone { margin-bottom: -185px; width: 70%; }
	.tech.battery { top: 0; left: 50%; margin-left: -240px; }
	.tech.connect { margin-top: -120px; left: 50%; margin-left: 120px; }
	.tech.speed   { margin-top: -120px; left: 50%; margin-left: -60px; }

	/* -----------------------------------------
	   Section 6: Leadership 
	----------------------------------------- */
	/*--| Circles */
	.circle-container { height: 350px; }
	.circles { width: 140px; height: 140px; }
	.circles.download { top: 0; left: 50%; margin-left: -200px; }
	.circles.dsp 	  { top: -140px; left: 50%; margin-left: 60px; }
	.circles.battery  { top: -200px; left: 50%; margin-left: -70px;  }
	.circles.cpu 	  { top: -260px; left: 50%; margin-left: -200px; }
	.circles.gpu 	  { top: -400px; left: 50%; margin-left: 60px; }

	/* -----------------------------------------
	   Section 8,9,10,11 
	----------------------------------------- */
	/*--| Chip */
	img.chip-image { width: 60%; margin-bottom: 60px; }

	/*--| Features: Main Image */
	img.spec-chip-img { width: 16%; margin-left: -8%; }

	/*--| Customer Section */
	img.cust-image { width: 45%; }
	img.cust-chip-img { width: 8%; margin-left: -4%; }
	img.cust-floating-icon { width: 8%; }

		/*--| 200 */
		.section8 img.cust-floating-icon.phone { left: 38%; top: 12%; }
		.section8 img.cust-floating-icon.chat { left: 53%; top: 12%; }

		/*--| 400 */
		.section9 img.cust-floating-icon.camera { left: 46%; top: 9%; }
		.section9 img.cust-floating-icon.phone  { left: 34%; top: 24%; }
		.section9 img.cust-floating-icon.chat   { left: 59%; top: 24%; } 

		/*--| 600 */
		.section10 img.cust-floating-icon.play   { left: 39%; top: 12%; }
		.section10 img.cust-floating-icon.camera { left: 53%; top: 11%; }
		.section10 img.cust-floating-icon.phone  { left: 32%; top: 31%; }
		.section10 img.cust-floating-icon.chat   { left: 60%; top: 31%; } 

		/*--| 800 */
		.section11 img.cust-floating-icon.controller { left: 46%; top: 7%;  }
		.section11 img.cust-floating-icon.play   	 { left: 35%; top: 21%; }
		.section11 img.cust-floating-icon.camera 	 { left: 57%; top: 20%; }
		.section11 img.cust-floating-icon.phone  	 { left: 32%; top: 40%; }
		.section11 img.cust-floating-icon.chat   	 { left: 60%; top: 41%; }

	/* -----------------------------------------
	   Quiz Section
	----------------------------------------- */
	a.button.large.chevron.quiz-button { font-size: 3.5em; }
}

/* ----------------------------------------------------- 
   Tablet
----------------------------------------------------- */
@media only screen and (max-width: 940px) and (min-width: 766px) { 
	.full-width-image { min-height: 300px; }

	/* -----------------------------------------
   		Section 1: Mobile Engines 
	----------------------------------------- */
	div.continue-arrow { margin-bottom: -100px; }

	/* -----------------------------------------
   	   Section 4: Technologies Abound 
	----------------------------------------- */
	/*.tech-container { min-height: 525px; }*/
	.tech-phone { margin-bottom: -140px; width: 70%; }
	.tech.battery { top: 0; left: 50%; margin-left: -240px; }
	.tech.connect { margin-top: -120px; left: 50%; margin-left: 120px; }
	.tech.speed   { margin-top: -120px; left: 50%; margin-left: -60px; }

	/* -----------------------------------------
	   Section 6: Leadership 
	----------------------------------------- */
	/*--| Circles */
	.circle-container { height: 350px; }
	.circles { width: 140px; height: 140px; }
	.circles.download { top: 0; left: 50%; margin-left: -200px; }
	.circles.dsp 	  { top: -140px; left: 50%; margin-left: 60px; }
	.circles.battery  { top: -200px; left: 50%; margin-left: -70px;  }
	.circles.cpu 	  { top: -260px; left: 50%; margin-left: -200px; }
	.circles.gpu 	  { top: -400px; left: 50%; margin-left: 60px; }

	/* -----------------------------------------
	   Section 8,9,10,11 
	----------------------------------------- */
	/*--| Chip */
	img.chip-image { width: 60%; margin-bottom: 60px; }

	/*--| Features: Main Image */
	img.spec-chip-img { width: 20%; margin-left: -10%; }

	/*--| Customer Section */
	img.cust-image { width: 45%; }
	img.cust-chip-img { width: 8%; margin-left: -4%; }
	img.cust-floating-icon { width: 8%; }

		/*--| 200 */
		.section8 img.cust-floating-icon.phone { left: 38%; top: 12%; }
		.section8 img.cust-floating-icon.chat { left: 53%; top: 12%; }

		/*--| 400 */
		.section9 img.cust-floating-icon.camera { left: 46%; top: 9%; }
		.section9 img.cust-floating-icon.phone  { left: 34%; top: 24%; }
		.section9 img.cust-floating-icon.chat   { left: 59%; top: 24%; } 

		/*--| 600 */
		.section10 img.cust-floating-icon.play   { left: 39%; top: 12%; }
		.section10 img.cust-floating-icon.camera { left: 53%; top: 11%; }
		.section10 img.cust-floating-icon.phone  { left: 32%; top: 31%; }
		.section10 img.cust-floating-icon.chat   { left: 60%; top: 31%; } 

		/*--| 800 */
		.section11 img.cust-floating-icon.controller { left: 46%; top: 7%;  }
		.section11 img.cust-floating-icon.play   	 { left: 35%; top: 21%; }
		.section11 img.cust-floating-icon.camera 	 { left: 57%; top: 20%; }
		.section11 img.cust-floating-icon.phone  	 { left: 32%; top: 40%; }
		.section11 img.cust-floating-icon.chat   	 { left: 60%; top: 41%; }

	/* -----------------------------------------
	   Quiz Section
	----------------------------------------- */
	a.button.large.chevron.quiz-button { font-size: 3.5em; }
}

/* ----------------------------------------------------- 
   Mobile
----------------------------------------------------- */
@media only screen and (max-width: 767px) { 
	.padding-left-50 { padding-left: 15px; }

	/* --| Headers */
	h1 { font-size: 2.2em; }
	h2 { font-size: 2.1em; }
	h4 { font-size: 1.2em; }
	
	.slide { padding: 25px 0px; }
}


/* -----------------------------------------
	Internet Explorer 8
----------------------------------------- */

	/* -----------------------------------------
   		Section 1: Mobile Engines 
	----------------------------------------- */
	.lt-ie9 div.continue-arrow { margin-bottom: -100px; }

	/* -----------------------------------------
   	   Section 4: Technologies Abound 
	----------------------------------------- */
	/*.tech-container { min-height: 525px; }*/
	.lt-ie9 .tech-phone { margin-bottom: -185px; }
	.lt-ie9 .tech.battery { top: 0; left: 50%; margin-left: -240px; }
	.lt-ie9 .tech.connect { margin-top: -120px; left: 50%; margin-left: 120px; }
	.lt-ie9 .tech.speed   { margin-top: -120px; left: 50%; margin-left: -60px; }

	/* -----------------------------------------
	   Section 6: Leadership 
	----------------------------------------- */
	/*--| Circles */
	.lt-ie9 .circle-container { height: 350px; }
	.lt-ie9 .circles { width: 140px; height: 140px; }
	.lt-ie9 .circles.download { top: 0; left: 50%; margin-left: -200px; }
	.lt-ie9 .circles.dsp 	  { top: -140px; left: 50%; margin-left: 60px; }
	.lt-ie9 .circles.battery  { top: -200px; left: 50%; margin-left: -70px;  }
	.lt-ie9 .circles.cpu 	  { top: -260px; left: 50%; margin-left: -200px; }
	.lt-ie9 .circles.gpu 	  { top: -400px; left: 50%; margin-left: 60px; }


