/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Layout: Main Navigation
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body { background-color: black; color: white; }
/* --| Used for columns where something is on the left, that makes it too tight */
.padding-left-50 { padding-left: 50px; }
.rtl .padding-left-50 { padding-left: 0; }

/* -----------------------------------------
   Shared Styles: Large Images;
----------------------------------------- */
.full-width-image {
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 500px;
	background-position: center center;
	width: 100%;
}

/* -----------------------------------------
   Section 1
----------------------------------------- */
.full-width-image.intro {
	background-image: url(../images/shared/section1/guy-on-bike.jpg);
	margin-top: -50px;
	background-position-y: 90%;
}

/* --| Table */
table.app-list { width: 100%; }

/* --| Table Instructions */
div.table-instructions { text-align: center; position: relative; }
div.table-instructions > p { padding: 5px; background: rgba(0,0,0,.5); border-radius: 3px; }
div.table-instructions .arrow-down {
	border-left-width: 8px;
	border-right-width: 8px;
	border-top-width: 8px;
	left: 62%;
	top: 100%;
	border-top-color: rgba(0,0,0,.5);
}

/* --| Table Instructions: RTL */
.rtl div.table-instructions .arrow-down { right: 62%; }

/* --| IE8 */
.lt-ie9 div.table-instructions > p { background: #222; }
.lt-ie9 div.table-instructions .arrow-down { border-top-color: #222; }

/* -----------------------------------------
   Section 2
----------------------------------------- */
.section2 .footnote { margin-top: 5px; }

/* ----------------------------------------------------- 
   Mobile
----------------------------------------------------- */
@media only screen and (max-width: 767px) { 
	.padding-left-50 { padding-left: 15px; }
	.full-width-image { min-height: 350px; }

	/* --| Headers */
	h1 { font-size: 2.2em; }
	h2 { font-size: 2.1em; }
	h4 { font-size: 1.2em; }

	/* --| Table */	
	table.app-list th { font-size: 13px; }
	table.app-list td { font-size: 12px; }
}

/* ----------------------------------------------------- 
   Tablet
----------------------------------------------------- */
@media only screen and (max-width: 940px) { 
	.full-width-image { min-height: 350px; }
}
