/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Layout: Main Navigation
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body { background-color: black; color: white; }
/* --| Used for columns where something is on the left, that makes it too tight */
.padding-left-50 { padding-left: 50px; }
.rtl .padding-left-50 { padding-left: 0; }
.margin-top-50 { margin-top: 50px; }
.inner-section.no-margin-bottom { margin-bottom: 0; }
.inner-section.no-margin-top { margin-top: 0; }
.inner-section.second-row { padding: 0 0 75px; }
.hidden { display: none; }

/* -----------------------------------------
   Shared Styles: Full Width Image
----------------------------------------- */
.full-width-image {
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 500px;
	background-position: center center;
	width: 100%;
}

/* -----------------------------------------
   Shared Styles: Features & Specs
----------------------------------------- */
.header-box {
	background: rgba(0,0,0,.5);
	min-height: 50px;
	padding: 15px;
	margin-bottom: 3px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.header-box > h5 { margin: 0; color: white !important; }

/* --| IE9 */
.lt-ie9 .header-box { background: url(../images/ie8/ie8-black-60.png); }


/* -----------------------------------------
   Section 1
----------------------------------------- */

/* -----------------------------------------
   Section 2
----------------------------------------- */

/* -----------------------------------------
   Section 3
----------------------------------------- */
.section3 .full-width-image {
	background-image: url(../images/shared/section3/man-and-car.jpg);
	margin-top: -50px;
	background-position: center 20%;
}

/* --| SteamBoost Interaction */
.toggle-images { position: relative; background: white; text-align: center; }
.toggle-images div.arrow-down { top: 100%; left: 50%; margin-left: -12px; }

/*ul.button-group.toggle-buttons  { text-align: center; }
ul.button-group.toggle-buttons li { float: none; display: inline-block; }*/
ul.button-group.toggle-buttons li a.button.active {  background: #00acbd; cursor: default; }

/* --| High Charts */
#datatable { display: none; }
.graph-wrapper { position: relative; }
.graph-wrapper .arrow-down {
	left: 50%;
	top: 100%;
	margin-left: -12px;
	border-top-color: rgba(255,255,255,0.8);
}

/* -----------------------------------------
   Section 4
----------------------------------------- */
.section4 .full-width-image {
	background-image: url(../images/shared/section4/family.jpg);
	margin-top: -50px;
}

/* -----------------------------------------
   Section 5
----------------------------------------- */
.router-bg * { color: #222 !important; }
.router-bg { 
	background: white; 
	text-align: center;
	padding: 15px;
	margin-bottom: 5px;
	min-height: 500px;
}

/* --| Rows & Cols */
.router-row .first 	{ padding: 0 3px 0 15px; }
.router-row .last 	{ padding: 0 15px 0 3px; }

/* --| Rows & Cols: RTL; */
.rtl .router-row .first { padding: 0 15px 0 3px; }
.rtl .router-row .last 	{ padding: 0 3px 0 15px; }

/* ----------------------------------------------------- 
   Mobile
----------------------------------------------------- */
@media only screen and (max-width: 767px) { 
	.padding-left-50 { padding-left: 15px; }
	.full-width-image { min-height: 350px; }

	/* --| Headers */
	h1 { font-size: 2.2em; }
	h2 { font-size: 2.1em; }
	h4 { font-size: 1.2em; }

	.router-bg { min-height: 0; }

	/* --| Rows & Cols */
	.router-row .first 	{ padding: 0 15px; }
	.router-row .last 	{ padding: 0 15px; }

	/* --| Rows & Cols: RTL; */
	.rtl .router-row .first { padding: 0 15px; }
	.rtl .router-row .last 	{ padding: 0 15px; }

}

/* ----------------------------------------------------- 
   Tablet
----------------------------------------------------- */
@media only screen and (max-width: 940px) { 
	.full-width-image { min-height: 350px; }
}
