/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Layout: Main Navigation

Colors:
	- Light Red:
		- #d64b3a 
	- Dark Red: 
		- #941a1d

	- Grey: 
		- #828486
	- Black:
		- #454548

	- Yellow: 
		- #face4d
*/

/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body { background-color: black; color: white; }

/* --| Used for columns where something is on the left, that makes it too tight */
.padding-left-50 { padding-left: 50px; }
.rtl .padding-left-50 { padding-left: 0; }

/* -----------------------------------------
   Shared Styles: Background
----------------------------------------- */
.qualcomm-gradient.snapdragon-radial-red {
	background: #d64b3a; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMSUiIHN0b3AtY29sb3I9IiNkNjRiM2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjOTQxYTFkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  #d64b3a 1%, #941a1d 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#d64b3a), color-stop(100%,#941a1d)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #d64b3a 1%,#941a1d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #d64b3a 1%,#941a1d 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #d64b3a 1%,#941a1d 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #d64b3a 1%,#941a1d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d64b3a', endColorstr='#941a1d',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.qualcomm-gradient.snapdragon-radial-black {
	background: #828486; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM4Mjg0ODYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDU0NTQ4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  #828486 0%, #454548 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#828486), color-stop(100%,#454548)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #828486 0%,#454548 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #828486 0%,#454548 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #828486 0%,#454548 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #828486 0%,#454548 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828486', endColorstr='#454548',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

/* -----------------------------------------
   Typography
----------------------------------------- */
h1,h2,h3 { text-transform: uppercase; font-family: Arial, Helvetica, sans-serif; }
.large { font-size: 5em; }
.top-bar h1 { text-transform: none; }
.yellow { color: #face4d !important; }
.red { color: #ed2224 !important; }
.white { color: white !important; }
.blue { color: #3ca3db !important; }
.purple { color: #970090 !important; }

/* -----------------------------------------
   Section 1
----------------------------------------- */
div.arrow-container { height: 312px; position: relative; }
img.arrow { height: 50%; }

/* -----------------------------------------
   Section 2
----------------------------------------- */
/* -- | Successful People */
.border-top { 
	background: rgba(0,0,0,.6);
	padding: 5px 15px;
	border-top: 1px solid #ccc; 
	margin-top: 15px; 
}

.blackberry-box { 
	background: rgba(0,0,0,.7); 
	padding: 15px 20px; 
	color: white; 
}

.blackberry-box-logo {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.7)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#00000000',GradientType=1 ); /* IE6-8 */
	padding: 20px;
}

.blackberry-bg {
	background: url(../images/shared/section2/background.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin-top: -50px;
	width: 100%;
}

.blackberry-bg * { color: white !important; }

/* --| Phone: Z10, Q10, Q5 */
.phone-images img { margin-bottom: 25px; }
.phone-images p { text-align: center; }

/* --| Phone: Header Blocks */
.phone-headers {
	display: inline-block;
	background: black;
	padding: 5px 20px;
}

/* ----------------------------------------------------- 
   RTL
----------------------------------------------------- */
.rtl .blackberry-box-logo {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC43Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=1 ); /* IE6-8 */
}

/* ----------------------------------------------------- 
   Quiz
----------------------------------------------------- */
.quiz h1,
.quiz h2,
.quiz h3 { text-transform: none; }

/* ----------------------------------------------------- 
   Mobile
----------------------------------------------------- */
/* --| Tablet */
@media only screen and (max-width: 940px) { 
	.padding-left-50 { padding-left: 15px; }
	.phone-images img { margin-bottom: 0; }
	.phone-images .columns { margin-bottom: 30px; }
	.blackberry-bg { margin-top: -15px; }
}


/* --| Phones */
@media only screen and (max-width: 767px) { 
	.customer { text-align: left; }
	h1,h2 { font-size: 2.2em; }
}


/* ----------------------------------------------------- 
   IE8
----------------------------------------------------- */
.lt-ie9 .blackberry-box,
.lt-ie9 .border-top { background: url(../images/ie8/ie8-black-80.png); }












