/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Layout: Main Navigation
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body { background-color: black; color: white; }
/* --| Used for columns where something is on the left, that makes it too tight */
.padding-left-50 { padding-left: 50px; }
.rtl .padding-left-50 { padding-left: 0; }

/* -- Tabs */
ul.tabs-content li .row.inner-section { padding: 40px 0; }

/* -----------------------------------------
   Section 1
----------------------------------------- */

/* -----------------------------------------
   Section 2
----------------------------------------- */

/* ----------------------------------------------------- 
   Mobile
----------------------------------------------------- */
@media only screen and (max-width: 767px) { 
	.padding-left-50 { padding-left: 15px; }

	/* --| Headers */
	h1 { font-size: 2.2em; }
	h2 { font-size: 2.1em; }
	h4 { font-size: 1.2em; }

	/* --| Images */
	.cell-tower { height: 300px; }

	/* --| Tabs */
	ul.tabs-content li .row.inner-section { padding: 20px 0; }
}

