/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Layout: Main Navigation
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body { background-color: black; color: white; }
/* --| Used for columns where something is on the left, that makes it too tight */
.padding-left-50 { padding-left: 50px; }
.rtl .padding-left-50 { padding-left: 0; }

/* -----------------------------------------
   Shared Styles: Large Images;
----------------------------------------- */
.full-width-image {
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 500px;
	background-position: center center;
	width: 100%;
}

/* -----------------------------------------
   Section 1
----------------------------------------- */
.section1 .full-width-image.girl-with-phone {
	background-image: url(../images/shared/section1/girl-with-phone.jpg);
	margin-top: -50px;
}

/* -----------------------------------------
   Section 2
----------------------------------------- */
.full-width-image.instore-customer {
	background-image: url(../images/shared/section2/instore-customer.jpg);
	margin-top: -50px;
	background-position: center 10%;
}

/* -----------------------------------------
   Section 3
----------------------------------------- */


/* ----------------------------------------------------- 
   Mobile
----------------------------------------------------- */
@media only screen and (max-width: 767px) { 
	.padding-left-50 { padding-left: 15px; }
	/* --| Headers */
	h1 { font-size: 2.2em; }
	h2 { font-size: 2.1em; }
	h4 { font-size: 1.2em; }
	.put-it-together { text-align: left; }
}

/* ----------------------------------------------------- 
   Tablet
----------------------------------------------------- */
@media only screen and (max-width: 940px) { 
	.full-width-image { min-height: 300px; }
}
