/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
.responsive-layout-normal .view-trainings .views-column,
.responsive-layout-normal .view-trends .views-column {
  min-height: 234px;
}
.not-logged-in.page-user.responsive-layout-normal #block-system-main,
.not-logged-in.page-user.responsive-layout-normal #messages .messages {
  width: 90%;
}

.responsive-layout-normal .view-popular-content .views-column {
  min-height: 130px;
}
.responsive-layout-normal .view-popular-content .views-field-field-rating {
  left: 105px;
}
.responsive-layout-normal .view-trainings .view-footer article.node-poll {
  min-height: 234px;
}
.responsive-layout-normal .view-trainings .view-footer article.node-poll h1,
.responsive-layout-normal .view-trainings .view-footer article.node-poll .poll-title {
  font-size: 1.2em;
  line-height: 1em;
}
.responsive-layout-normal .view-trainings .view-footer article.node-poll .form-item.form-item-choice {
  margin: 0 0 .3em;
}
.responsive-layout-normal .view-sliders .views-slideshow-cycle-main-frame-row .views-field-field-slide-button {
  bottom: 20px;
}

#block-menu-menu-trends-subnav {
	display: block;
	position: absolute;
	top: 18px;
	right: 0;
	z-index: 91;
}
#block-menu-menu-trends-subnav ul.menu,
#block-menu-menu-trends-subnav ul.menu li,
#block-menu-menu-trends-subnav ul.menu li a {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}
#block-menu-menu-trends-subnav ul.menu li {
	margin-right: 20px;
}

a.bigBtn,
span.bigBtn {
	width: 90%;
	margin-right: 0;
}

.node-type-tool .container-12 .grid-9.region-content { width: 100% }
.node-type-tool .container-12 .grid-3.region-sidebar-second { display: none }

/* vive / padding grid fix? */
body.context-vive .field-name-title-field {
	height: 398px;
}
.container-12 .grid-12 .pad {
	margin: 0 50px;
}
body.context-vive a.qlogo {
	margin: 34px 0 24px;
	width: 210px;
	height: 45px;
}
body.context-vive.node-type-page article.node h1 {
	padding-top: 30px;
	border-width: 6px;
	font-size: 60px;
	line-height: 44px;
}
body.context-vive.node-type-page article.node h1,
body.context-vive .field-name-title-field h2 {
	width: 73%;
	display: block;
}
body.context-vive .field-name-title-field p.tdisc {
	font-size: 1em;
	line-height: 1em;
	margin-top: 20px;
}
.container-12 .grid-12 .pad .grid-4 {
	width: 170px;
	margin-left: 40px;
}
.container-12 .grid-12 .pad .grid-8 {
	width: 458px;
}
.container-12 .grid-12 .pad .grid-10 {
	width: 500px;
}
.container-12 .grid-12 .pad .grid-12 {
	width: 668px;
}

body.context-vive .device.odd img {
	border-right: 1px solid #959595;
}
body.context-vive .devicerow {
	border-top: 1px solid #959595;
}