/* CSS for max-width 770px? */
.responsive-layout-normal .view-trainings .views-column,
.responsive-layout-normal .view-trends .views-column {
  min-height: 234px;
}
.not-logged-in.page-user.responsive-layout-normal #block-system-main,
.not-logged-in.page-user.responsive-layout-normal #messages .messages {
  width: 90%;
}

.responsive-layout-normal .view-popular-content .views-column {
  min-height: 130px;
}
.responsive-layout-normal .view-popular-content .views-field-field-rating {
  left: 105px;
}
.responsive-layout-normal .view-trainings .view-footer article.node-poll {
  min-height: 234px;
}
.responsive-layout-normal .view-trainings .view-footer article.node-poll h1,
.responsive-layout-normal .view-trainings .view-footer article.node-poll .poll-title {
  font-size: 1.2em;
  line-height: 1em;
}
.responsive-layout-normal .view-trainings .view-footer article.node-poll .form-item.form-item-choice {
  margin: 0 0 .3em;
}
.responsive-layout-normal .view-sliders .views-slideshow-cycle-main-frame-row .views-field-field-slide-button {
  bottom: 20px;
}

#block-menu-menu-trends-subnav {
	display: block;
	position: absolute;
	top: 18px;
	right: 0;
	z-index: 91;
}
#block-menu-menu-trends-subnav ul.menu,
#block-menu-menu-trends-subnav ul.menu li,
#block-menu-menu-trends-subnav ul.menu li a {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}
#block-menu-menu-trends-subnav ul.menu li {
	margin-right: 20px;
}

a.bigBtn,
span.bigBtn {
	width: 487px;
	margin: 0 40px 40px;
}

.node-type-tool .container-12 .grid-9.region-content {
	width: 100%
}
.node-type-tool .container-12 .grid-3.region-sidebar-second {
	display: none
}
.node-tool .field-name-field-external-link {
	float: left;
	margin: 0 0 0 1em;
}
.node-tool .flag-outer-favorites {
	margin-right: 2em
}
.node-tool .field-name-field-image,
.node-tool .field-name-field-image img {
	height: 432px;
}
/* vive / padding grid fix? */
body.context-vive .field-name-title-field {
	height: 398px;
}
.container-12 .grid-12 .pad {
	margin: 0 50px;
}
body.context-vive a.qlogo {
	margin: 34px 0 24px;
	width: 210px;
	height: 45px;
}
body.context-vive.node-type-page article.node h1 {
	padding-top: 30px;
	border-width: 6px;
	font-size: 60px;
	line-height: 44px;
}
body.context-vive.node-type-page article.node h1,
body.context-vive .field-name-title-field h2 {
	width: 73%;
	display: block;
}
body.context-vive .field-name-title-field p.tdisc {
	font-size: 1em;
	line-height: 1em;
	margin-top: 20px;
}
.container-12 .grid-12 .pad .grid-4 {
	width: 170px;
	margin-left: 40px;
}
.container-12 .grid-12 .pad .grid-8 {
	width: 458px;
}
.container-12 .grid-12 .pad .grid-10 {
	width: 500px;
}
.container-12 .grid-12 .pad .grid-12 {
	width: 668px;
}

body.context-vive .device.odd img {
	border-right: 1px solid #959595;
}
body.context-vive .devicerow {
	border-top: 1px solid #959595;
}
/* header */
#avatar-block-wrapper .points-wrapper {
	display: block
}
#block-system-main-menu ul.menu li a:link, #block-system-main-menu ul.menu li a:visited {
	padding: 0 15px;
	font-size: 19px;
}
/* homepage */
.view-popular-content .views-field-field-image img {
	margin: 0 0 5px;
	max-width: none;
	width: 100%;
	float: none;
}
.view-popular-content .views-field-field-image,
.view-popular-content .views-field-title {
	float: left;
	width: 100%;
}
.responsive-layout-normal .view-popular-content .views-field-field-rating {
	left: 5px;
}
.responsive-layout-normal .view-popular-content .views-column {
	min-height: 200px
}
.view-trends .views-field-ops,
.view-trainings .views-field-ops,
.view-popular-content .views-field-ops {
	top: auto;
	bottom: 40px;
	right: 10px;
}
.view-trainings .views-field-field-media-types, .view-trends .views-field-field-media-types {
	right: 10px;
}
.view-trainings img,
.view-trends img {
	width: 182px;
	height: 102px;
}
.view-trainings .views-field-title, .view-trends .views-field-title, .view-store .views-field-title {
	margin: 0 0 2em 0.5em;
}
.view-trainings .views-field-field-rating, .view-trends .views-field-field-rating, .view-store .views-field-field-rating {
	left: 10px;
}
.block.block-app {
	background-position: 90% 34px;
}
.view-sliders .views-slideshow-cycle-main-frame-row .views-field-title {
	font-size: 61px;
	top: 20px;
}
article.node-article .flag-outer-favorites, article.node-training .flag-outer-favorites {
	right: 60px;
}
article.node-training .field-name-field-media-types, article.node-article .field-name-field-media-types {
	right: 25px;
}
body.page-node.node-type-training #zone-content,
body.page-node.node-type-quiz #zone-content,
body.page-node.node-type-article #zone-content,
body.page-node.node-type-tool #zone-content {
  background: #fff url(../images/bg-twocol768.gif) repeat-y 100% 0;
  background-size: 100%;
}
#elite-user-block-wrapper {
	height: 209px;
}

.not-logged-in.page-user h1 {
	letter-spacing: -1px;
	font-size: 4.5em;
	line-height: 0.7;
}
.not-logged-in.page-user .form-submit {
	font-size: 1.3em;
}

.block-home-slides-block:before {
  padding-top: 50%;
}
.wbar #logo {
    left: 50%;
}
body.node-type-quiz .quiz-score-submit input.form-submit {
  padding: 0 100px;
}