/* CSS for width > 770px? */
body.page-node.node-type-training #zone-content,
body.page-node.node-type-quiz #zone-content,
body.page-node.node-type-article #zone-content,
body.page-node.node-type-tool #zone-content {
  background: #fff url(../images/bg-twocol.gif) repeat-y 100% 0;
  background-size: 100%;
}
body.page-node.node-type-tool #zone-content {
	background-color: #f8f8f8;
}

.node-type-tool .container-12 .grid-9.region-content {
	width: 75%
}
.node-type-tool .container-12 .grid-3.region-sidebar-second {
	display: inline;
	width: 25%
}
.node-tool h1 {
	margin-left: 0;
	padding-left: 0;
}
.node-tool .field-name-field-company {
	margin-bottom: 3.5em;
	margin-left: 0;
	padding-left: 0;
}
.node-tool a.outBtn {
	width: 100%;
	margin: 0;
	padding: 0 1em;
}
.node-tool .tool-mainimg {
	width: 260px; margin: 5px
}
a.bigBtn,
span.bigBtn {
	width: 730px;
}
.node-tool .group-tooltop {
	float: right;
	width: 520px;
}
.node-tool .field-name-field-image,
.node-tool .field-name-field-image img {
	height: 456px;
}
/* vive / padding grid fix? */
body.context-vive .field-name-title-field {
	height: 531px;
}
body.context-vive.node-type-page article.node h1,
body.context-vive .field-name-title-field h2 {
	width: 50%;
}
body.context-vive .field-name-title-field a.tbutton {
	display: block;
}
.container-12 .grid-12 .pad {
	margin: 0 50px;
}
.container-12 .grid-12 .pad .grid-4 {
	width: 280px;
	margin-left: 40px;
}
.container-12 .grid-12 .pad .grid-8 {
	width: 600px;
}
.container-12 .grid-12 .pad .grid-10 {
	width: 810px;
}
.container-12 .grid-12 .pad .grid-12 {
	width: 980px;
}
.container-12 .grid-12.orange .pad .grid-12 {
	margin: 90px 0 60px;
}

body.context-vive .orange {
	height: 1230px;
}
/* homepage */
.view-popular-content .views-field-title {
	width: 135px;
}
.view-popular-content .views-field-field-image {
	width: 114px;
	margin-right: 10px;
}
.view-trainings .views-field-title,
.view-trends .views-field-title,
.view-store .views-field-title {
	margin: 0 1em 2em;
}
.view-trainings .views-field-field-rating, .view-trends .views-field-field-rating, .view-store .views-field-field-rating {
	left: 20px;
}
.view-trends .views-field-ops, .view-trainings .views-field-ops, .view-popular-content .views-field-ops,
.view-trainings .views-field-field-media-types, .view-trends .views-field-field-media-types {
	right: 20px;
}
.view-trainings img,
.view-trends img {
	width: 260px;
	height: 146px;
}
.block.block-app {
	background-position: 360px 34px;
}
.view-sliders .views-slideshow-cycle-main-frame-row .views-field-title {
	font-size: 5em;
	top: 20px;
}
article.node-training .field-name-field-rating, article.node-article .field-name-field-rating {
	margin: 20px 0 0 138px;
}
article.node-training .field-name-field-rating .field-label, article.node-article .field-name-field-rating .field-label {
	display: inline-block;
}

.block-home-slides-block:before {
  padding-top: 35%;
}

.node-tool .field-name-field-external-link {
	margin: 0;
}
.wbar #logo {
    left: 50%;
}
body.node-type-quiz .quiz-score-submit input.form-submit {
  padding: 0 100px;
}
#block-system-main-menu ul.menu li.first {
   display: inline-block;
}