	v\:shape 		{ behavior: url(#default#VML); /*display:inline-block; */}
	v\:oval 		{ display:inline-block; behavior: url(#default#VML); }
	v\:rect 		{ display:inline-block; behavior: url(#default#VML); }
	v\:roundrect 	{ display:inline-block; behavior: url(#default#VML); }
	v\:line		 	{ display:inline-block; behavior: url(#default#VML); }
	v\:polyline		{ display:inline-block; behavior: url(#default#VML); }
	v\:group		{ display:inline-block; behavior: url(#default#VML); }
	body 			{ margin: 0 }
	iframe 			{ background-color: transparent; }
	/* Quirks mode emulation */
	p 				{ margin-top: 0px }
	div 			{ box-sizing: content-box; -ms-box-sizing: content-box; -moz-box-sizing: content-box; }
