/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents - SNAPDRAGON Styles
-----------------------------------------------------
:: Shared Styles
*/

/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body { background-color: black; color: white; }

/* --| Used for columns where something is on the left, that makes it too tight */
.padding-left-50 { padding-left: 50px; }
.rtl .padding-left-50 { padding-left: 0; }

/* --| Inner Section */
.inner-section.no-padding-bottom { padding-bottom: 0; }

/* --| Horizontal Rules */
hr.plain.margin-10 { margin: 10px 0; }

/* -----------------------------------------
   Shared Styles: Spec Box
----------------------------------------- */
.spec-box { background: rgba(255,255,255,.7); padding: 20px 30px; border-radius: 0px; position: relative; }
.spec-box * { color: #222;  }
/*.spec-box:before {
	content: "";
	width: 0px; 
	height: 0px; 
	border-bottom: 10px solid transparent;  
	border-top: 10px solid transparent; 
	border-right: 10px solid rgba(255,255,255,.7); 
	font-size: 0px;
	line-height: 0px;
	position: absolute;
	left: -10px;
	top: 35px;
}
*/
.specs p { margin-top: 17px; }
.lt-ie9 .spec-box { background: url(../images/ie8/ie8-white-70.png); }


/* -----------------------------------------
   Shared Styles: Feature Panels
----------------------------------------- */
.panel.feature-box { margin-bottom: 2px; }


/* -----------------------------------------
	Shared Styles: Customer Bands 
----------------------------------------- */
.customer {
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 500px;
	background-position: center center;
	width: 100%;
}

/* -----------------------------------------
   Shared Styles: Features & Specs
----------------------------------------- */
.header-box {
	background: rgba(0,0,0,.5);
	height: 50px;
	padding: 15px;
	margin-bottom: 0px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.header-box > h5 { margin: 0; color: white !important; }

/* --| IE9 */
.lt-ie9 .header-box { background: url(../images/ie8/ie8-black-60.png); }

/* --| Product Brief */
.product-brief { padding-top: 25px; }


/* -----------------------------------------
   Section 1 - Intro
----------------------------------------- */

/* -----------------------------------------
   Section 2 - Snapdragon Line Up
----------------------------------------- */
#datatable { /*display: none;*/ width: 100%; }
#datatable td { vertical-align: middle; text-align: center; }
#datatable td > span { 
	display: block;
	width: 20px;
	height: 20px;
	margin: 0 auto;
	background-image: url(../images/shared/section2/dots.png);
}

#datatable td > span.average { 
	background-position: 0 -40px;
}

#datatable td > span.good {
	background-position: 0 -20px;
}

/* --| Legend */
.legend { 
	background: rgba(255,255,255,.8);
	border-radius: 2px;
	padding: 15px;
	margin: 0 auto;
	width: 50%;
	color: #222;
	text-align: center;
	position: relative;
}

.legend .arrow-up { top: -12px; left: 50%; margin-left: -12px; border-bottom-color: rgba(255,255,255,.8); }

.legend span { 
	font-size: 12px;
	line-height: 20px;
	position: relative;
	margin-right: 15px;
	font-weight: bold;
	display: inline-block;
}

.legend span:before {
	content: "";
	display: inline-block;
	height: 20px;
	width: 20px;
	background: url(../images/shared/section2/dots.png) no-repeat;
	margin-right: 8px;
	position: relative;
	top: 4px;
}

.legend span.average:before { background-position: 0 -40px; }
.legend span.good:before { background-position: 0 -20px; }

.lt-ie9 .legend { background: white; }

/* --| Legend: RTL */
.rtl .legend span { margin-right: 0;  margin-left: 15px; }
.rtl .legend span:before { margin-right: 0; margin-left: 8px; }

.graph-wrapper { position: relative; }
.graph-wrapper .arrow-down { top: 100%; left: 49%; border-top-color: rgba(255,255,255,0.8); }

/* --| Table Instructions */
div.table-instructions { text-align: center; position: relative; }
div.table-instructions > p { padding: 5px; background: #222; border-radius: 3px; }
div.table-instructions .arrow-down {
	border-left-width: 8px;
	border-right-width: 8px;
	border-top-width: 8px;
	left: 62%;
	top: 100%;
	border-top-color: #222;
}

/* --| Table Instructions: RTL */
.rtl div.table-instructions .arrow-down { right: 62%; }

/* -----------------------------------------
   Section 3 - 800
----------------------------------------- */
.section3 .customer { background-image: url(../images/shared/section3/800-customer.jpg); }

/* -----------------------------------------
   Section 4 - 600
----------------------------------------- */
.section4 .customer { 
	background-image: url(../images/shared/section4/600-customer.jpg); 
	background-position: 50% 80%;
}
.section4 li { color: #222 !important; }

/* -----------------------------------------
   Section 5 - 400
----------------------------------------- */
.section5 .customer { 
	background-image: url(../images/shared/section5/400-customer.jpg); 
	background-position: 50% 25%;
}

/* -----------------------------------------
   Section 6 - 200
----------------------------------------- */
.section6 .customer { 
	background-image: url(../images/shared/section6/200-customer.jpg); 
	background-position: 50% 70%;
}

/* -----------------------------------------
   Section 7 - Drag & Drop
----------------------------------------- */
/* --| Draggables 
		- Adding Margins to Draggable: Causes it to take on th size of the margins as well causing issues with droppables registering
*/
.draggable {
	width: 120px;
	min-height: 120px;
	height: 75px;
	/*float: left;
	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.20);
	-moz-box-shadow:    0px 2px 5px rgba(0, 0, 0, 0.20);
	box-shadow:         0px 2px 5px rgba(0, 0, 0, 0.20);*/
	/* This to make the text-break for long words in other languages */
	margin-bottom: 50px;
	word-wrap: break-word; 
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
.draggable img { -webkit-user-drag: none; }
.draggable p {
	margin-bottom: 0;
	margin-top: -12px;
	display: block;
	background: rgba(255,255,255,0.5);
	padding: 5px;
	border-radius: 2px;
	font-size: .8em;
	text-align: center;
	font-weight: normal;
}

.lt-ie9 .draggable p { background: white; }

/* --| Droppables */
.droppable {
	width: 100%;
	height: 150px;
	padding: 0.5em;
	/*float: left; 
	border: 1px solid #242424; */
	/*background-color: #030100;*/
	background-color: #363636;
	margin: 0px auto 20px;
	border-radius: 3px;
	position: relative;
	-moz-box-shadow:    inset 0 0 14px #030303;
   	-webkit-box-shadow: inset 0 0 14px #030303;
   	box-shadow:         inset 0 0 14px #030303;
}

.droppable:before {
	content: "\E007";
	font-size: 1.7em;
	font-family: 'custom-icons';
	position: absolute;
	top: 53px;
	left: 50%;
	padding: 0;
	color: white;
	display: block;
	text-align: center;
	width: 100%;
	margin-left: -50%;
}

.droppable.success {
	background: #ee3124;
	-moz-box-shadow:    none;
   	-webkit-box-shadow: none;
   	box-shadow:         none;
}

.droppables-group .row { margin-bottom: 20px; }
/*.droppables-group p { font-style: italic; }*/
.drop-col { padding-left: 40px; }
.customer-desc { font-weight: bold; font-style: italic; }

/* --| Feedback*/
.feedback { 
	background: rgba(255,255,255,0.7); 
	padding: 10px 5px 5px 15px;
	border-radius: 1px;
	position: relative;
	display: none;
}
.feedback .arrow-left { left: -12px; top: 20px; border-right-color: rgba(255,255,255,0.7); }
.rtl .feedback { padding: 10px 15px 5px 5px; }
.rtl .feedback .arrow-left { right: -24px; border-right-color: transparent; border-left: 12px solid rgba(255,255,255,0.7); }
.lt-ie9 .feedback { background: white; }


/* ----------------------------------------------------- 
   Mobile
----------------------------------------------------- */
@media only screen and (max-width: 767px) { 
	.padding-left-50 { padding-left: 15px; }
	.specs p { margin-top: 0; }
	.customer { min-height: 200px; }

	.specs .header-box { margin-top: 20px; }

	/* --| Spec Box */
	.spec-box:before {
		border-bottom: 10px solid transparent;  /* left arrow slant */
		border-top: 10px solid transparent; /* right arrow slant */
		border-right: 10px solid transparent; /* bottom, add background color here */
	}

	/* --| Feature Box */
	.panel.feature-box { margin-bottom: 2px; }

	/* --| Header */
	h1 { font-size: 2.2em; }
	h2 { font-size: 2.1em; }
	h4 { font-size: 1.2em; }

	/* --| Chart */
	.graph-wrapper .arrow-down { left: 48%; }
	.legend { width: 80%; }

	/* ------------------------------------------- 
		Drag & Drop: Activity 
	-------------------------------------------- */
	/* --| Button Group */
	.chip-selection ul.button-group { margin-bottom: 40px; }
	.chip-selection ul.button-group .button.active { background: #ee3124; }
	.chip-selection ul.button-group li p { 
		font-size: .78em; 
		background: rgba(0,0,0,0.8);
		padding: 5px 0;
		color: white !important;
		min-height: 50px;
	}
	.chip-selection ul.button-group li .button > img { margin: 0; padding: 0; min-height: 29px; }
	/* --| Feedback */
	.chip-selection .feedback { margin: -30px 0 30px; padding-top: 10px; /*display: block;*/ }
	.chip-selection .feedback .arrow-up { top: -12px; left: 47%; border-bottom-color: rgba(255,255,255,0.7); }
}


/* ----------------------------------------------------- 
   Tablet
----------------------------------------------------- */
@media only screen and (max-width: 940px) { 
	.customer { min-height: 300px; }
}






















