/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Layout: Main Navigation
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body { background-color: black; color: white; }
/* --| Used for columns where something is on the left, that makes it too tight */
.padding-left-50 { padding-left: 50px; }
.rtl .padding-left-50 { padding-left: 0; }


/* -----------------------------------------
   Section 1
----------------------------------------- */
div.arrow-container { height: 312px; position: relative; }
img.arrow { height: 50%; }

/* -----------------------------------------
   Section 2
----------------------------------------- */
.search-box {
	padding: 12px;
	background: white;
	color: #474747;
	margin-bottom: 15px;
	font-weight: bold;
	border-radius: 3px;
	display: table;
	width: 100%;
}

.search-box > p { color: #474747 !important; font-weight: bold; padding-left: 10px; }
.search-box > p { display: table-cell;  vertical-align: middle;  text-align: left;  }

.plus { 
	font-size: 40px;
	font-weight: bold;
	padding: 12px;
	background: none;
	text-align: center;
	margin-top: -15px;
}

.icon, .icon.search {
	background-image: url(../images/shared/section2/icons.png);
	background-position: 0 0;
	height: 20px;
	width: 20px;
	text-indent: -9999px;
	display: block;
}

.icon.check { background-position: 0 -20px; }
.icon.hand { background-position: 0 -40px; }
.icon.ship { background-position: 0 -60px }

/* ----------------------------------------------------- 
   RTL
----------------------------------------------------- */
.rtl .search-box > p { text-align: right; padding-left: 0; padding-right: 10px; }

/* ----------------------------------------------------- 
   Mobile
----------------------------------------------------- */
@media only screen and (max-width: 767px) { 
	.padding-left-50 { padding-left: 15px; }
	div.box.alpha {  margin-top: 20px; margin-bottom: 0; min-height: 200px; }
}

